.softwing-fiction-background{
    z-index: 1;
    margin: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background: url("../images/fiction_background.jpg") fixed center top;
}

#softwing-fiction-content-webdrama{
    background: url("../images/webdrama-titleimg.png") center;
    background-size: cover;
    width: 100%;
    height: 100%;
}